/***************************************************************
*   Standard Colors
***************************************************************/
$dark-background: #1e1e1e;
$dark-border: #3e3e3e;
$light-text: #ccc;
$keyword: #569cd6;
$string: #d69d85;
$number: #b5cea8;
$comment: #57a64a;
$doc-comment: #0088ff;
$doc-param: #22aaff;
$doc-markup: #569cd6;
$class: #4ec9b0;
/***************************************************************
*   Standard Sizes
***************************************************************/
$small-padding: 2rem;
$tiny-padding:0.25rem;
$button-font-size:2rem;
$container-height:3.3rem;
$slide-width:64rem;
$slide-window-width:$slide-width+(2 *$small-padding);
$slide-height:48rem;
$slide-window-height:48rem+(2 *$small-padding);

html {
  font-size: 10px;
  /***************************************************************
  *   General Plugin Styles
  ***************************************************************/
  body .better-wordpress-importer-better-wordpress-importer-admin-php {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
  }
  .blurb *, .blurb {
    color: $light-text;
  }
  .bwi-center{
    text-align: center;
  }
  .bwi-button{
    position: relative;
    display: inline-block;
    margin:0 $small-padding;
    min-width: 12rem;
    min-height: $container-height;
    width: 20%;
    background: $doc-comment;
    border: 2px solid $light-text;
    color: $light-text;
    font-size: $button-font-size;
  }
  .bwi-button:hover {
    background: $doc-markup;
  }
  .bwi-button-text {
    position: relative;
    padding-top: ($container-height /2) - ($button-font-size / 2);
    display: block;
    text-align: center;
  }
  .buffer {
    padding-bottom: $small-padding;
  }
  .bwi-hidden{
    display:none !important;
  }
  .blocker {
    background: $dark-background;
  }
  /***************************************************************
  *   Slider Window
  ***************************************************************/
  #bwi-slide-magazine {
    position: relative;
    height: 48rem +(2 *$small-padding);
    width: 100000rem;
  }
  #bwi-slide-window {
    margin-left: auto;
    margin-right: auto;
    width: $slide-window-width;
    height: $slide-window-height;
    overflow: hidden;
  }
  .bwi-slide-wrapper {
    position: absolute;
    display: inline-block;
    width: $slide-width;
    min-height: $slide-height;
    padding: $small-padding;
    background: $dark-background;
  }
  /***************************************************************
  *   Slider Controls
  ***************************************************************/
  #bwi-slider-controls {
    color:$light-text;
    width:$slide-width;
    display: block;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    font-size: $container-height;
    top:-$container-height - $tiny-padding;
    text-align: center;
    div {
      cursor:pointer;
      opacity: 0.5;
      position: absolute;
      display: inline-block;
    }
    div:hover {
      opacity: 1;
    }
    #bwi-page-selector{
      position: relative;
      margin-left: auto;
      margin-right: auto;
      *{
        position: relative;
        padding-left: $tiny-padding;
        padding-right: $tiny-padding;
      }
    }
    #bwi-slider-right-button{
      a {
        color: $light-text;
        padding-left: $small-padding;
        padding-right: $small-padding;
      }
      a:hover{
        color:white;
        opacity: 1;
      }
      right:0;
    }
    #bwi-slider-left-button{
      a {
        color: $light-text;
        padding-left: $small-padding;
        padding-right: $small-padding;
      }
      a:hover{
        color:white;
        opacity: 1;
      }
      left:0;
    }
  }
  /***************************************************************
  *   Slide Specific Styles
  ***************************************************************/
  /* File Upload Slide */
  #AjaxFileUpload {
    h1, h2, h3, p {
      color: $light-text;
    }
  }
  #progress-box {
    position: relative;
    margin-top: 120px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid $dark-border;
    height: $container-height;
    background: $dark-background;
    color: $light-text;
  }
  #progress-bar {
    background: $doc-param;
    height: 100%;
    min-height: $container-height;
    width: 0;
  }
  #status-txt {
    position: absolute;
    top: 0.5em;
    left: 50%;
    color: $light-text;
  }
  #output {
    min-height: 1rem;
  }
}