/***************************************************************
*   Standard Colors
***************************************************************/
/***************************************************************
*   Standard Sizes
***************************************************************/
html {
  font-size: 10px;
  /***************************************************************
  *   General Plugin Styles
  ***************************************************************/
  /***************************************************************
  *   Slider Window
  ***************************************************************/
  /***************************************************************
  *   Slider Controls
  ***************************************************************/
  /***************************************************************
  *   Slide Specific Styles
  ***************************************************************/
  /* File Upload Slide */ }
  html body .better-wordpress-importer-better-wordpress-importer-admin-php {
    font-family: "Open Sans", Helvetica, Arial, sans-serif; }
  html .blurb *, html .blurb {
    color: #cccccc; }
  html .bwi-center {
    text-align: center; }
  html .bwi-button {
    position: relative;
    display: inline-block;
    margin: 0 2rem;
    min-width: 12rem;
    min-height: 3.3rem;
    width: 20%;
    background: #0088ff;
    border: 2px solid #cccccc;
    color: #cccccc;
    font-size: 2rem; }
  html .bwi-button:hover {
    background: #569cd6; }
  html .bwi-button-text {
    position: relative;
    padding-top: 0.65rem;
    display: block;
    text-align: center; }
  html .buffer {
    padding-bottom: 2rem; }
  html .bwi-hidden {
    display: none !important; }
  html .blocker {
    background: #1e1e1e; }
  html #bwi-slide-magazine {
    position: relative;
    height: 52rem;
    width: 100000rem; }
  html #bwi-slide-window {
    margin-left: auto;
    margin-right: auto;
    width: 68rem;
    height: 52rem;
    overflow: hidden; }
  html .bwi-slide-wrapper {
    position: absolute;
    display: inline-block;
    width: 64rem;
    min-height: 48rem;
    padding: 2rem;
    background: #1e1e1e; }
  html #bwi-slider-controls {
    color: #cccccc;
    width: 64rem;
    display: block;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    font-size: 3.3rem;
    top: -3.55rem;
    text-align: center; }
    html #bwi-slider-controls div {
      cursor: pointer;
      opacity: 0.5;
      position: absolute;
      display: inline-block; }
    html #bwi-slider-controls div:hover {
      opacity: 1; }
    html #bwi-slider-controls #bwi-page-selector {
      position: relative;
      margin-left: auto;
      margin-right: auto; }
      html #bwi-slider-controls #bwi-page-selector * {
        position: relative;
        padding-left: 0.25rem;
        padding-right: 0.25rem; }
    html #bwi-slider-controls #bwi-slider-right-button {
      right: 0; }
      html #bwi-slider-controls #bwi-slider-right-button a {
        color: #cccccc;
        padding-left: 2rem;
        padding-right: 2rem; }
      html #bwi-slider-controls #bwi-slider-right-button a:hover {
        color: white;
        opacity: 1; }
    html #bwi-slider-controls #bwi-slider-left-button {
      left: 0; }
      html #bwi-slider-controls #bwi-slider-left-button a {
        color: #cccccc;
        padding-left: 2rem;
        padding-right: 2rem; }
      html #bwi-slider-controls #bwi-slider-left-button a:hover {
        color: white;
        opacity: 1; }
  html #AjaxFileUpload h1, html #AjaxFileUpload h2, html #AjaxFileUpload h3, html #AjaxFileUpload p {
    color: #cccccc; }
  html #progress-box {
    position: relative;
    margin-top: 120px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #3e3e3e;
    height: 3.3rem;
    background: #1e1e1e;
    color: #cccccc; }
  html #progress-bar {
    background: #22aaff;
    height: 2.8rem;
    width: 0;
    text-align: center;
    padding-top: 0.5rem; }
  html #status-txt {
    position: absolute;
    top: 0.5rem;
    left: 50%;
    color: #cccccc; }
  html #chunk-progress-box {
    position: relative;
    margin-top: 120px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #3e3e3e;
    height: 3.3rem;
    background: #1e1e1e;
    color: #cccccc; }
  html #chunk-progress-bar {
    background: #22aaff;
    height: 2.8rem;
    width: 0;
    text-align: center;
    padding-top: 0.5rem; }
  html #chunk-status-txt {
    position: absolute;
    top: 0.5rem;
    left: 50%;
    color: #cccccc; }
  html #output {
    min-height: 1rem; }
